<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h3>You've signed up. Download a free book.</h3>
    <%= link_to 'Download PDF', products_path('product.pdf'), class: 'btn btn-success btn-large' %>
  <% end %>
<% else %>
  <div id="welcome" class="span7">
    <h1>Membership Site</h1>
    <h3>Learn to build a successful subscription site.</h3>
  </div>
  <div class="row col-sm-12 plans">
    <div class="col-sm-2 well">
      <div class="plan"><h2>Silver</h2></div>
      <ul class="list-unstyled">
        <li>One lesson a month</li>
      </ul>
      <h3>$9/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'silver'), :class => 'btn btn-primary' %>
    </div>
    <div class="col-sm-2 well featured">
      <div class="plan featured-plan"><h2>Gold</h2></div>
      <ul class="list-unstyled">
        <li>Ten lessons a month</li>
      </ul>
      <h3>$19/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'gold'), :class => 'btn btn-primary' %>
    </div>
    <div class="col-sm-2 well">
      <div class="plan"><h2>Platinum</h2></div>
      <ul class="list-unstyled">
        <li>Thirty lessons a month</li>
      </ul>
      <h3>$29/month</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'platinum'), :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
