
<h3 id="welcome">Welcome</h3>
  <h3 id="invitation">We Invite You ..</h3>
    Enjoy our free Ebook, entitled :
    <blockquote>
      <h3><i>Rails Stripe Membership</i></h3>

    <!-- % = link_to 'Open Book in New Window', 'http://www.goodworksonearth.org/star-arts.pdf', :class = > 'btn btn-default btn-lg' % -->
    <!-- % = link_to 'Download PDF', products_path('product.pdf'), :class = > 'btn btn-success btn-large' % -->

      <blockquote>
<div class="freebook">
  <div class="mailinglist">
    <section>
      <div class="column">
        <h4>To receive StarLight Expressions and update notice(s)</h4>
        <div class="form-centered">
          <%= simple_form_for @visitor do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, label: false, placeholder: "Your email address...", :input_html => { :size => 65 } %>
            <%= f.button :submit, "Receive Book", :class => "submit" %> 
              <br>
            You can save the book ~ or ~
              <br>
            You can view in your browser
          <% end %>

<!--
          < %= form_for(@visitor) do |f| % -->
            <!-- % = f.error_notification % -->
            <!-- %= f.input :email, label: false, placeholder: "Your email address...", :input_html => { :size => 65 } %>
            < %= f.button :submit, "Take a Trip Across the Letters' Trestle", :class => "submit" %> 
              <br>
            You can save the book ~ or ~
              <br>
            You can view in your browser -->
          <!--% end %-->
        </div>
      </div>
    </section>
    <% link_to 'About Our Research', page_path('about') %>
  </div>
</div>
      </blockquote>


<!--
  <blockquote>
    <br>
      Immediately receive THE GIFT ebook sharing 120+ pages of
    <br>  
      Star Arts freely on display for your interest and use, in .pdf format.
    <br> 
    <%= link_to 'Sign up', visitors_path, :class => 'btn btn-default btn-large' %>
  </blockquote>
-->
      <blockquote>
        Please accept our ebook, a gift to every human on earth in the name of awakenings and healings, in plain English.
        This book is about the Star Arts of English words that are created using the art and science of the <strong>*Lexigram</strong>.
        All seekers of truth visiting Good Works On Earth's site are immediately and always able to download this ebook
        as our <strong>Thank You</strong> to you for your caring to awaken and heal thysElf.
	<br>
	<br>
        <strong>* Lexigram</strong>, comes from two word parts:
        <br>&nbsp;&nbsp; lexi, meaning the word. An example is lexicon, meaning the word reference, the dictionary.
        <br>&nbsp;&nbsp; -gram, a suffix meaning, drawn out in full or written out in full
	<strong>* Lexigram</strong>, as a word, and as an art and a science is fully described, with Star Arts examples, in this free ebook.
    </blockquote>
