<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : ENV['NAME'] %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : ENV['NAME'] %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
          <%= render 'layouts/navigation' %>
    </header>
      <div class="container">
              <%= render 'layouts/messages' %>
              <%= yield %>
          <div class="row">
          <br>
          <p align="center"><a target="_blank" class = "btn btn-danger" href="<%= ENV['CONTACT_PAGE'] %>">Report a Problem</a></p>
          <p align="center"><small>Copyright &copy; <%= ENV['NAME'] %></small></p>
          </div>
      </div> <!--! end of .container -->
  </body>
</html>
